{% extends 'base.html' %}
{% block content %}
<div class="progress-wrapper">
  <div id="progress-bar" class="progress-bar" style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
</div>
<div id="progress-bar-message">Waiting for progress to start...</div>

{% load static %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const progressUrl = "{% url 'celery_progress:task_status' task_id %}";
    const taskId = "{{ task_id }}";
    const progressBarElement = document.getElementById('progress-bar');
    const progressBarMessageElement = document.getElementById('progress-bar-message');
    
    function updateProgress() {
      fetch(progressUrl)
        .then(response => response.json())
        .then(data => {
          console.log(data.progress.current + "/" + data.progress.total);

          // Update progress bar
          if (data.progress) {
            const progress = data.progress;
            progressBarElement.style.width = (progress.current / progress.total * 100) + "%";
            progressBarMessageElement.innerHTML = progress.description || 
              progress.current + "/" + progress.total + " (" + progress.percent + "%)";
            
            if (progress.percent >= 100) {
              progressBarElement.style.backgroundColor = "#76ce60";
            }
          }
          
          // Check if task is complete
          if (data.state === "SUCCESS") {
            window.location.href = `/result/${taskId}/`;
            return;
          }
          
          // Continue polling every 5s if not complete
          setTimeout(updateProgress, 5000);
        })
        .catch(error => {
          progressBarMessageElement.innerHTML = "Error: " + error;
          setTimeout(updateProgress, 500);
        });
    }
    
    // Start the progress update
    updateProgress();
  });
</script>
{% endblock %}